<ul>
    <li><a href="https://webpages.charlotte.edu/clee172/">Charlotte.edu</a></li>
    <li><a href="https://github.com/animarosa/animarosa.github.io.git">GitHub</a></li>
    <li><a href="https://animarosa.github.io">GitHub.io</a></li>
    <li><a href="https://animarosa.github.io/itis3135">itis3135.io</a></li>
    <li><a href="https://www.freecodecamp.org/clee">FreeCodeCamp</a></li>
    <li><a href="https://www.codecademy.com/profiles/clee172">Codecademy</a></li>
    <li><a href="https://www.linkedin.com/in/yourusername">LinkedIn</a></li>
    <li><a href="https://webpages.charlotte.edu/clee172/itis3135/hobby/index.html">Hobby</a></li>
</ul>
<p>Designed by Lee Enterprises, <a href="https://www.freecodecamp.org/certification/clee/javascript-algorithms-and-data-structures-v8" target="_blank">Certified in JS</a>. &copy; 2023</p>
https://webpages.charlotte.edu/clee172/itis3135/hobby/index.html
<script>
    document.getElementById("validation_link_html").setAttribute("href",
        "https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href",
        "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script>